<link href="/static/css/plugins/cropper/cropper.min.css" rel="stylesheet">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12 col-md-12 ">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>
                        <a href="{{ urlfor "ItemController.List"}}?type={{.itemType}}">{{.listTile}}</a>>
                        {{.actTitle}}
                    </h5>
                    <div class="ibox-tools">
                        <a href="{{ urlfor "ItemController.List"}}?type={{.itemType}}"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="signupForm" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">物品名称</label>
                            <div class="col-sm-3">
                                <input  id="name" name="name" value="{{.data.Name}}" class="form-control" type="text">
                            </div>
                            <label class="col-sm-2 control-label">{{.userId}}</label>
                            <div class="col-sm-3">
                                <input   id="userId" name="userId" value="{{.data.UserId}}"  class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{.happenTime}}</label>
                            <div class="col-sm-3">
                                <input   id="time" name="time" value="{{.data.Time}} " class="form-control" type="text">
                            </div>
                            <label class="col-sm-2 control-label">{{.happenPlace}}</label>
                            <div class="col-sm-3">
                                <input   id="place" name="place" value="{{.data.Place}} " class="form-control" type="text">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">物品特点</label>
                            <div class="col-sm-3">
                                <input   id="trait" name="trait" value="{{.data.Trait}}"  class="form-control" type="text">
                            </div>
                            <label class="col-sm-2 control-label">备注信息</label>
                            <div class="col-sm-3">
                                <input type="text" name="remark"  value="{{.data.Remark}}" class="form-control" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">物品图片</label>
                            <div class="col-sm-3">
                                <input type="file" name="itemPic" class="upload-file" accept="image/*">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">物品图片</label>
                            <div class="col-sm-2">
                                <img  style="width: 100%;height: 100%" src="{{.data.Image}}" alt="{{.data.Name}}">
                            </div>
                            <label class="col-sm-3 control-label">物品图片预览</label>
                            <div class="col-sm-2">
                                <img id="show-file"    style=" width: 100%;height: 100%" src="" alt="">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label"></label>
                            <input class="btn btn-primary " type="hidden" name="type" value="{{.data.Type}}">
                            <input class="btn btn-primary " type="hidden" name="id" value="{{.data.Id}}">
                            <input class="btn btn-primary " type="hidden" name="image" value="{{.data.Image}}">
                            <button class="btn btn-primary " type="submit">提交</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    $().ready(function () {

        // validate signup form on keyup and submit
        var icon = "<i class='fa fa-times-circle'></i> ";
        $("#signupForm").validate({
            rules: {
                name: "required",
                userId: "required",
                time: "required",
                place: "required",
            },
            messages: {
                name: icon + "物品名称",
                userId: icon + "{{.userId}}",
                time: icon + "{{.happenTime}}",
                place: icon + "{{.happenPlace}}",
            },
            submitHandler:function(form){
                var form = new FormData(document.getElementById("signupForm"));
                $.ajax({
                    url:"/item/edit",
                    type:"post",
                    data:form,
                    processData:false,
                    contentType:false,
                    success:function(data){
                        if(data.code == 0){
                            parent.layer.msg(data.message, {icon: 1,time:1000,offset: '400px'},function () {
                                window.location.href='{{ urlfor "ItemController.List"}}?type={{.itemType}}'
                            });
                        }else{
                            parent.layer.msg(data.message, {icon: 5,offset: '400px'});
                        }
                    }
                });
            }
        });

        //图片预览
        function imgPreview(fileDom,e,ele){
            //获取文件
            var file = fileDom.files[0];
            var supportedTypes = ['image/jpg', 'image/jpeg', 'image/png'];
            if(!(supportedTypes.indexOf(file.type)>-1)){
                alert('请选择.jpg、.png格式图片')
                return;
            }
            var uploadFiles = e.target.files || e.dataTransfer.files;
            console.log(file.type);
            var size=uploadFiles.length;
            for(var i=0;i<size;i++){
                /*读取文件*/
                var reader=new FileReader();
                reader.readAsDataURL(uploadFiles[i]);
                reader.onload=function (e) {
                    var imgBase=e.target.result;
                    $('#show-file').attr('src',imgBase).show()
                }
            }
        }

        $('.upload-file').change(function (e) {
            imgPreview(this,e,$(this));
        })

    });

</script>