<body class="home blog">
<section class="main-body" style="margin-bottom: 0px">
    <!-- 测试图片轮播 开始 -->
    <div id="bannerWarp">
        <div class="banner">
            <div class="container">
                <div class="col-md-12" id="intro-main">
                    <h1>Lost&Found </h1>
                    <h3>提供方便便捷的信息平台<br>搭建寻物寻人桥梁</h3>
                    <div class="btn-banner-group">
                        <a href="/home/item/list?type=0" class="btn btn-default btn-online-order btn-white">立即发布信息</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 订单流程 -->
    <div id="processWrap">
        <div class="container">
            <div class="process-header">
                <h3>发布信息流程</h3>
                <p>Lost&Found不断积累经验, 不断总结完善流程。</p>
            </div>
            <div class="proDetail">
                <ul>
                    <li class="one">
                        <div class="title">完善个人信息</div>
                        <p>准确的填写个人信息，以便于及时联系。</p>
                    </li>
                    <li class="two">
                        <div class="title">填写发布信息</div>
                        <p>根据个人需求准确的发布物品信息，以便于精确定位。</p>
                    </li>
                    <li class="three">
                        <div class="title">更新状态</div>
                        <p>根据实际情况及时更新物品的状态</p>
                    </li>
                    <li class="four">
                        <div class="title">关注平台最新(失物/招领)动态</div>
                        <p>关注平台帮助您第一时间得信息平台最新动态。</p>
                    </li>
                    <li class="five">
                        <div class="title">客服介入</div>
                        <p>如果有疑问，可以联系平台客服。</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</section>
</body>
