<!DOCTYPE html>
<html lang="zh" class="">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="applicable-device" content="pc,mobile">
    <title>Lost&Found</title>
    <link rel="stylesheet" id="ui_style-css" href="/static/home/ui.style.min.css" type="text/css" media="all">
    <link rel="stylesheet" id="ui_style-css" href="/static/css/bootstrap.min.css" type="text/css" media="all">
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
</head>
{{template "/home/base/header.html" .}}
{{.LayoutContent}}
{{template "/home/base/footer.html" .}}


</html>